@model List<ShelterManagerCreateAccount.Models.Client>

@{
    ViewData["Title"] = "Client Manager";
}
<h1>@ViewData["Title"]</h1>

    <table align="left" border="1" style="border:1px solid black; background-color:white; font-size:25px; border-spacing: 30px;">
        @foreach (Client c in Model)
        {
            <tr>
               @*  <td align="center">
                    @c.ClientID
                </td> *@
                <td align="center">
                    @c.F_Name
                </td>
                <td align="center">
                    @c.M_Name
                </td>
                <td align="center">
                    @c.L_Name
                </td>
               
                <td align="center">
                    <button type="button" onclick="OpenClientDetailWindow(@c.ClientID)">Edit</button>
                
                    <button type="button" onclick="DeleteClient(@c.ClientID)">Delete</button>
                </td>
            </tr>
        }
    </table>


<script>

    function OpenClientDetailWindow(Client_ID) 
    { 

        //alert("Opening: " + Client_ID);
        //window.open("/ClientDetailManager/" + Client_ID);
        window.open("/ClientDetailManager/" + Client_ID, "mywindow", "menubar=1,resizable=1,width=600,height=500");
    }

    function DeleteClient(Client_ID) 
    {
        if (confirm("Press OK to continue with deletion.")) 
        {
            alert("Deleting: " + Client_ID);
        }
        
    }

</script>

