@model List<ShelterManagerCreateAccount.Models.Client>

@{
    ViewData["Title"] = "Client Manager";
}
<h1>@ViewData["Title"]</h1>

<table align="left" border="1" style="border:1px solid black; background-color:white; font-size:15px; cell-spacing:5px;">
    @* <tr class="gridHeaderRow">
        <td>
            <br />
            <input type="button" id="btnCreateNewFacilityEMR" value="Create New" class="ViewButton" onclick="FacilityEMRConfig(0)" />
            &nbsp;<input type="button" id="btnRefresh" value="Refresh" class="ViewButton" onclick="RefreshPage()" />
        </td>
    </tr> *@
    @foreach (Client c in Model)
    {
        <tr>
            <td align ="center">
                @c.ClientID
            </td>
            <td align="center">
                @c.F_Name
            </td>
            <td align="center">
                @c.M_Name
            </td >
            <td align="center">
                @c.L_Name
            </td>
            <td align="center">
                @c.Shelter_Location_ID
            </td>
            <td align="center">
                @Html.DropDownList("ShelterLocations", ViewBag.ShelterLocations as SelectList)

            </td>
            <td align="center">
                <button>Save</button>
            </td>
        </tr>
    }
</table>


